<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <%#- include('partials/head') %> -->
    </head>
    <body>
        <!-- <%#- include('partials/nav') %> -->
        
        <h1><%= ceo.name %></h1>
        <h3><%= ceo.year %> </h3>
        <h3><%= ceo.slug %></h3>
        <h3><%= ceo.id %></h3>

    </body>
</html>