<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <%#- include('partials/head') %> -->
    </head>
    <body>
        <!-- <%#- include('partials/nav') %> -->
        
        <% ceos.forEach((ceo) => { %>
            
            <h1>
                <a href="<%= 'ceos/'+ ceo.slug %>">
                    <%= ceo.name %>
                </a> 
            </h1>
            
        <% }) %> 
        
    </body>
</html>
